@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.title {
  font-size: 36px;
  line-height: 43px;
  color: #45525B;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
}

.header {
  background-color: #fff;
  padding: 20px 0 15px 0;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__btn {
  display: none;
}

@media (max-width: 665.98px) {
  .menu__btn {
    display: block;
    cursor: pointer;
    width: 35px;
    height: 30px;
    border: none;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    background-color: transparent;
    position: relative;
  }
  .menu__btn::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: #000;
    left: 0;
    top: 11px;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 665.98px) {
  .menu__list {
    display: block;
    position: absolute;
    top: 80px;
    left: 0;
    background-color: #f2f3f4;
    right: 0;
    text-align: center;
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .menu__list--active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.menu__list-item {
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  margin-left: 30px;
}

@media (max-width: 665.98px) {
  .menu__list-item {
    display: block;
    margin: 0;
  }
}

.menu__list-link {
  color: #444444;
  opacity: 0.75;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.menu__list-link:hover {
  opacity: 1;
}

.menu__list-link:hover::after {
  --scale: 1;
}

@media (max-width: 665.98px) {
  .menu__list-link {
    padding: 20px 0;
    display: block;
  }
}

/* Hero */
.hero {
  background-image: url("../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__inner {
  padding: 345px 0 60px 0;
  background: rgba(250, 250, 252, 0.78);
  height: 100vh;
}

@media (max-width: 771.98px) {
  .hero__inner {
    padding: 200px 0 60px 0;
  }
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__title {
  margin-top: 13px;
  margin-bottom: 20px;
  color: #45525b;
  font-weight: 700;
  font-size: 45px;
  line-height: 43px;
}

.hero__descr {
  margin-bottom: 70px;
  font-size: 32px;
  line-height: 45px;
  text-align: center;
  width: 460px;
}

@media (max-width: 665.98px) {
  .hero__descr {
    margin-bottom: 90px;
    width: auto;
  }
}

.arrow-down {
  border: 2px solid #3a4443;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 32px;
  width: 64px;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  cursor: pointer;
  -webkit-animation: whitearrow 2s linear infinite;
          animation: whitearrow 2s linear infinite;
}

.arrow-down:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

/* Find */
.find {
  padding: 100px 0;
  background: #fafafc;
  border-radius: 0px;
}

@media (max-width: 899.98px) {
  .find {
    padding: 45px 0;
  }
}

.find__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 999.98px) {
  .find__content {
    margin: 0 auto;
  }
}

@media (max-width: 999.98px) {
  .find__content-left {
    margin: 0 auto;
  }
}

@media (max-width: 899.98px) {
  .find__content-left {
    text-align: center;
  }
}

@media (max-width: 999.98px) {
  .find__content-right {
    margin: 0 auto;
  }
}

.find__pretitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ff8a63;
}

.find__title {
  font-size: 48px;
  line-height: 53px;
  color: #45525b;
  width: 491px;
}

@media (max-width: 999.98px) {
  .find__title {
    width: 450px;
    margin-bottom: 20px;
  }
}

@media (max-width: 899.98px) {
  .find__title {
    font-size: 42px;
  }
}

@media (max-width: 665.98px) {
  .find__title {
    width: auto;
  }
}

.find__text {
  width: 561px;
  margin-bottom: 9px;
}

@media (max-width: 999.98px) {
  .find__text {
    width: 480px;
  }
}

@media (max-width: 899.98px) {
  .find__text {
    text-align: center;
  }
}

@media (max-width: 665.98px) {
  .find__text {
    width: auto;
  }
}

.find__text:nth-child(2) {
  width: 576px;
  margin-bottom: 19px;
}

@media (max-width: 999.98px) {
  .find__text:nth-child(2) {
    width: 480px;
  }
}

@media (max-width: 665.98px) {
  .find__text:nth-child(2) {
    width: auto;
  }
}

.find__employeer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 899.98px) {
  .find__employeer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 771.98px) {
  .find__employeer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.find__employeer-img {
  padding-right: 8px;
}

.find__employeer-name {
  font-size: 16px;
  line-height: 22px;
  color: #45525b;
}

@media (max-width: 771.98px) {
  .find__employeer-name {
    text-align: center;
    margin-bottom: 5px;
  }
}

.find__employeer-position {
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #6f7278;
}

@media (max-width: 771.98px) {
  .find__employeer-position {
    text-align: center;
    margin-bottom: 5px;
  }
}

/* Benefits */
.benefits {
  padding: 100px 0;
}

@media (max-width: 899.98px) {
  .benefits {
    padding: 30px 0;
  }
}

.benefits__prevtitle {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ff8a63;
  text-align: center;
}

.benefits__title {
  text-align: center;
  margin-bottom: 10px;
}

.benefits__text {
  font-size: 18px;
  line-height: 22px;
  color: #6f7278;
  margin-bottom: 30px;
  width: 560px;
  margin: 0 auto 30px;
  text-align: center;
}

@media (max-width: 665.98px) {
  .benefits__text {
    width: auto;
  }
}

.benefits__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 899.98px) {
  .benefits__body {
    text-align: center;
  }
}

.benefits__img {
  padding-right: 52px;
}

@media (max-width: 899.98px) {
  .benefits__img {
    display: none;
  }
}

.benefits__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.benefits__item {
  padding: 21px 83px 30px 21px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.benefits__item:hover {
  background-color: #fafafc;
  border: 1px solid rgba(202, 204, 209, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
}

@media (max-width: 416.98px) {
  .benefits__item {
    padding: 21px 23px 30px 21px;
  }
}

.benefits__item-icon {
  width: 48px;
  height: 48px;
  background-color: #45525b;
  border-radius: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

@media (max-width: 899.98px) {
  .benefits__item-icon {
    margin: 0 auto 10px;
  }
}

.benefits__item-title {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #45525b;
}

@media (max-width: 665.98px) {
  .benefits__item-title {
    width: auto;
  }
}

.benefits__item-descr {
  font-size: 14px;
  line-height: 20px;
  color: #6f7278;
  width: 200px;
}

/* Photo */
.photo__img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

/* Offer */
.offer {
  background-color: #fafafc;
  padding: 100px 0;
}

@media (max-width: 899.98px) {
  .offer {
    padding: 40px 0;
  }
}

.offer__prevtitle {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ff8a63;
}

@media (max-width: 999.98px) {
  .offer__prevtitle {
    text-align: center;
  }
}

.offer__title {
  margin-bottom: 10px;
  font-size: 34px;
}

@media (max-width: 999.98px) {
  .offer__title {
    text-align: center;
    width: auto;
  }
}

.offer__text {
  font-size: 18px;
  line-height: 22px;
  color: #6f7278;
  width: 575px;
  margin-bottom: 30px;
}

@media (max-width: 999.98px) {
  .offer__text {
    text-align: center;
    width: auto;
  }
}

.offer__item {
  width: 380px;
  background: #ffffff;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.03);
  border-radius: 8px;
  margin-top: 20px;
}

@media (max-width: 999.98px) {
  .offer__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
  }
}

@media (max-width: 771.98px) {
  .offer__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.offer__item-img__wrapper img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

.offer__item-content {
  padding: 25px 29px 25px 30px;
}

.offer__item-content-prevtitle {
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #6f7278;
  text-align: center;
}

.offer__item-content-title {
  font-size: 20px;
  line-height: 28px;
  color: #45525b;
  margin-bottom: 10px;
  text-align: center;
}

.offer__item-content-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer__item-content-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer__item-content-icon span {
  padding-left: 10px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.last-link {
  margin: 25px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #45525b;
  position: relative;
}

.last-link span {
  padding-right: 5px;
}

/* Team */
.team {
  padding: 100px 0;
}

@media (max-width: 771.98px) {
  .team {
    padding: 30px 0;
  }
}

.team__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 771.98px) {
  .team__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (max-width: 665.98px) {
  .team__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.team__employeer {
  margin-bottom: 15px;
}

.team__prevtitle {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ff8a63;
  text-align: center;
}

.team__title {
  width: 310px;
  margin-bottom: 15px;
}

@media (max-width: 771.98px) {
  .team__title {
    width: auto;
    text-align: center;
  }
}

.team__text {
  width: 370px;
  margin-bottom: 20px;
}

@media (max-width: 771.98px) {
  .team__text {
    width: auto;
    text-align: center;
  }
}

.team__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #45525b;
}

.team__link span {
  padding-right: 5px;
}

@media (max-width: 771.98px) {
  .team__link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.team__employeer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 771.98px) {
  .team__employeer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.team__employeer-img {
  padding-right: 8px;
}

.team__employeer-name {
  font-size: 16px;
  line-height: 22px;
  color: #45525b;
}

@media (max-width: 771.98px) {
  .team__employeer-name {
    text-align: center;
    margin-bottom: 5px;
  }
}

.team__employeer-position {
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #6f7278;
}

@media (max-width: 771.98px) {
  .team__employeer-position {
    text-align: center;
    margin-bottom: 5px;
  }
}

/* Write */
.write {
  padding: 100px 0;
  background-color: #fafafc;
}

@media (max-width: 999.98px) {
  .write {
    padding: 50px 0;
  }
}

.write__prevtitle {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ff8a63;
}

.write__title {
  text-align: center;
  margin-bottom: 25px;
}

@media (max-width: 899.98px) {
  .write__title {
    width: auto;
  }
}

.write__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.write__box {
  width: 376px;
  background: #ffffff;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

@media (max-width: 999.98px) {
  .write__box {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 899.98px) {
  .write__box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 20px;
    text-align: center;
  }
}

.write__box-img {
  border-radius: 10px 10px 0px 0px;
}

.write__box-img img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.write__box-content {
  padding: 30px 30px 30px 40px;
}

.write__box-prevtitle {
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ff8a63;
  margin-bottom: 10px;
}

.write__box-title {
  font-size: 16px;
  line-height: 19px;
  color: #45525b;
  margin-bottom: 10px;
  width: 310px;
}

@media (max-width: 899.98px) {
  .write__box-title {
    width: auto;
  }
}

.write__box-date {
  font-size: 13px;
  line-height: 20px;
  color: #6f7278;
}

.write__link {
  margin-top: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.write__link span {
  padding-right: 5px;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #45525B;
}

/* Testimonials */
.testimonials {
  overflow-x: hidden;
  background-color: #fff;
  padding: 100px 0 110px 0;
}

@media (max-width: 999.98px) {
  .testimonials {
    padding: 50px 0 70px 0;
  }
}

.testimonials__prevtitle {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ff8a63;
}

@media (max-width: 771.98px) {
  .testimonials__prevtitle {
    text-align: center;
  }
}

.testimonials__title {
  margin-bottom: 25px;
}

@media (max-width: 665.98px) {
  .testimonials__title {
    width: auto;
    font-size: 32px;
  }
}

@media (max-width: 771.98px) {
  .testimonials__title {
    text-align: center;
  }
}

.testimonials-slider__box {
  width: 584px;
  background: #FFFFFF;
  border: 1px solid rgba(82, 80, 59, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin-right: 30px;
}

.testimonials-slider__box-content {
  padding: 35px 40px 30px 30px;
}

.testimonials-slider__box-title {
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  width: 346px;
}

@media (max-width: 665.98px) {
  .testimonials-slider__box-title {
    width: auto;
  }
}

.testimonials-slider__box-text {
  width: 515px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #333333;
}

@media (max-width: 665.98px) {
  .testimonials-slider__box-text {
    width: auto;
  }
}

.testimonials-slider__box-comment {
  font-size: 16px;
  line-height: 16px;
  color: #45525B;
  padding-left: 10px;
  position: relative;
}

.testimonials-slider__box-comment::before {
  content: '';
  position: absolute;
  height: 24px;
  width: 2px;
  background-color: #FF8A63;
  left: 0;
  top: 0;
}

.swiper-container {
  position: relative;
}

.slider__arrow {
  position: absolute;
  top: 105%;
  margin: -10px;
  z-index: 5;
  outline: none;
  margin-top: 20px;
  cursor: pointer;
}

@media (max-width: 999.98px) {
  .slider__arrow {
    display: none;
  }
}

.swiper-prev {
  left: 96%;
}

.swiper-next {
  left: 102%;
}

.swiper-button-disabled {
  opacity: 0.75;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.swiper-slide:nth-child(1n) {
  width: 49%;
}

.swiper-slide:nth-child(2n) {
  width: 30%;
}

.swiper-slide:nth-child(3n) {
  width: 45%;
}

/* Touch */
.touch {
  padding: 100px 0px;
  background-color: #45525b;
}

@media (max-width: 771.98px) {
  .touch {
    padding: 50px 0;
  }
}

.touch__inner {
  text-align: center;
}

.touch__prevtitle {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fafafc;
}

.touch__title {
  color: #fafafc;
  margin-bottom: 10px;
  width: 479px;
  margin: 0 auto;
}

@media (max-width: 771.98px) {
  .touch__title {
    width: auto;
  }
}

.touch__text {
  font-size: 18px;
  line-height: 22px;
  color: #fafafc;
  width: 574px;
  margin: 0 auto 20px;
}

@media (max-width: 771.98px) {
  .touch__text {
    width: auto;
  }
}

.touch__contact {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #45525b;
  background-color: #fff;
  border-radius: 6px;
  padding: 10px 20px;
  display: inline-block;
  margin-right: 20px;
  -webkit-transition: all 0.5 ease;
  transition: all 0.5 ease;
}

.touch__contact:hover {
  background-color: #fffaf0;
}

@media (max-width: 771.98px) {
  .touch__contact {
    margin-right: 10px;
  }
}

.touch__seelisten {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #45525b;
  background-color: #fff;
  border-radius: 6px;
  padding: 10px 20px;
  -webkit-transition: all 0.5 ease;
  transition: all 0.5 ease;
}

.touch__seelisten:hover {
  background-color: #fffaf0;
}

/* Footer */
.footer {
  padding: 100px 0;
  background-color: #292c32;
}

@media (max-width: 899.98px) {
  .footer {
    padding: 40px 0;
  }
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__link {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 10px;
  display: inline-block;
}

@media (max-width: 899.98px) {
  .footer__col-1 {
    margin-bottom: 10px;
  }
}

@media (max-width: 899.98px) {
  .footer__col-inner {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (max-width: 771.98px) {
  .footer__col-inner {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    text-align: center;
  }
}

.footer__col {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ff8a63;
  margin-bottom: 10px;
}

@media (max-width: 416.98px) {
  .footer__col {
    margin-bottom: 20px;
  }
}

.footer__col-4__text {
  font-size: 16px;
  line-height: 22px;
  color: #fafafc;
  margin-bottom: 10px;
  width: 450px;
}

@media (max-width: 999.98px) {
  .footer__col-4__text {
    width: auto;
  }
}

.footer__col-4__title {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ff8a63;
}

.footer__col-4__form {
  position: relative;
}

.footer__col-4__input {
  padding: 15px 300px 16px 35px;
  width: 458px;
  background: #f9fafb;
  border: 1px solid #e5e7eb;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  resize: vertical;
}

.footer__col-4__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 22px;
  color: #6f7278;
}

.footer__col-4__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 22px;
  color: #6f7278;
}

.footer__col-4__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 22px;
  color: #6f7278;
}

.footer__col-4__input::placeholder {
  font-size: 16px;
  line-height: 22px;
  color: #6f7278;
}

@media (max-width: 999.98px) {
  .footer__col-4__input {
    padding: 15px 180px 16px 35px;
    width: 400px;
  }
}

@media (max-width: 416.98px) {
  .footer__col-4__input {
    padding: 15px 100px 16px 35px;
    width: 290px;
  }
}

.footer__col-4__link {
  position: absolute;
  padding: 10px;
  background-color: #3a4443;
  border-radius: 10px;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  top: 3px;
  right: 5px;
  display: block;
  outline: none;
}

@media (max-width: 999.98px) {
  .footer__col-4__link {
    right: 407px;
  }
}

@media (max-width: 899.98px) {
  .footer__col-4__link {
    right: 0;
  }
}

@media (max-width: 416.98px) {
  .footer__col-4__link {
    right: 45px;
  }
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

@media (max-width: 416.98px) {
  .footer__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__copy {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

@media (max-width: 416.98px) {
  .footer__copy {
    text-align: center;
    margin-bottom: 10px;
  }
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__social-list__link {
  padding-right: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  opacity: 0.75;
}

.footer__social-list__link:nth-child(4) {
  padding-right: 0;
}

.footer__social-list__link:hover {
  opacity: 1;
}

.footer__logo {
  margin-bottom: 75px;
  text-align: center;
}

@media (max-width: 899.98px) {
  .footer__logo {
    margin-bottom: 45px;
  }
}

@-webkit-keyframes whitearrow {
  0% {
    top: 0;
  }
  100% {
    top: 40px;
  }
}

@keyframes whitearrow {
  0% {
    top: 0;
  }
  100% {
    top: 40px;
  }
}
/*# sourceMappingURL=style.css.map */